# Типы заявок
ISSUE_TYPE = "hydroflex_new"
ISSUE_TYPE_HF_PLOTTER_ACTIVATION = "HF_plotter_activation"

# Заголовки заявок
ISSUE_TITLE="Гидрофлекс (локальная разработка)"
PLOTTER_ACTIVATION_TITLE="Активация плоттера_HF (локальная разработка)"
QR_CUT_REQUEST_TITLE="Разблокировать рез (локальная разработка)"

PROJECT_DIR=/path/to/your/project

APP_VERSION=1.0.1-dev
TELEGRAM_API_KEY=""
MAX_API_KEY=""
ADMIN_API_KEY=
OKDESK_ISSUE_CONFIRM_DELIVERY="Запрос подтвердить доставку Hydroflex"
OKDESK_ISSUE_CONSUMABLES_TITLE="Запрос расходников Hydroflex"
OKDESK_API_KEY=""
OKDESK_ISSUE_REQUEST_OPEN_SHOP="Запрос открытие ТТ Hydroflex"
OKDESK_ISSUE_CHANGE_CUT_TYPE="Смена типа реза Hydroflex"
OKDESK_ISSUE_TYPE="Hydroflex_open"
OKDESK_ISSUE_TITLE="Заявка Hydroflex"
OKDESK_ISSUE_WARRANTY_TITLE="Запрос на гарантийный рез Hydroflex"
OKDESK_ISSUE_REQUEST_CLOSE_SHOP="Запрос закрытие ТТ Hydroflex"
OKDESK_ISSUE_ADD_TEMPLATE="Запрос добавить/поправить лекало Hydroflex"
DEBUG_ENV="False"
OKDESK_ISSUE_LEARNING_TITLE="Запрос Обучение Hydroflex"
OKDESK_ISSUE_TEMP_ACCESS_POINT="Временный доступ к точке Hydroflex"
PROJECT_DIR="/data/apps/Hydroflexjack-telegram-bot-stage.insitech.network/release"
OKDESK_ISSUE_REQUEST_TRAINING="Запрос обучение Hydroflex"
ARM_API_KEY=""
OCR_PYTHON_INTERPRETER=/usr/bin/python3.12
## если что это mini_app  а не webhook
## ну да, мне тоже есть чем заняться кроме как на твою матершину в 9 вечера смотреть
## 
MINI_APP_URL: ""
